* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../../picture/login1.PNG) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 
}
main {
  width: 100%;
  padding: 720;
  margin: auto;
  margin-top: 100px;
}
.Contenedor_todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
/*configuracion de la caja trasera*/
.caja_trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: grey(20px);
  background-color: rgba(67, 114, 66, 0.658);
}
.caja_trasera div {
  margin: 100px 40px;
  color: rgb(253, 253, 253);
  transition: all 500ms;
}
.caja_trasera div p,
.caja_trasera div button {
  margin-top: 30px;
}
.caja_trasera div h3 {
  font-size: 26px;
  font-weight: 400;
}
/*botones*/
.caja_trasera button {
  padding: 10px 40px;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}
.caja_trasera button:hover {
  background: rgb(255, 255, 255);
  color: #4b644a;
  width: 70%;
  align-items: center;
  border-radius: 50px;
}
 

/*formularios*/
.contenedor_login_register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -120px;
  left: 8px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contenedor_login_register form {
  width: 100%;
  padding: 4% 15px;
  background: rgb(247, 248, 247);
  position: absolute;
  border-radius: 20px;
}

.contenedor_login_register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #606d56;
}
.contenedor_login_register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: rgb(234, 236, 236);
  font-size: 16px;
  outline: none;
}
.contenedor_login_register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: rgb(140, 151, 147);
  color: white;
  cursor: pointer;
  outline: none;
}

.formulario_login {
  opacity: 1;
  display: block;
}
.formulario_register {
  display: none;
}
.formulario_login p{
  width:100%;
  font-size: 12px;
  margin-top: 12px;

}
/*checkbox*/
.checkbox-label{
  font-size: 10px;
  display: flex;
  align-items: center;;
  margin-bottom: 10px;
}
.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
  order: 1;

}
/*responsive diseño*/
@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }
  .box_trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .box_trasera div {
    margin: 0px;
    position: flex;
  }
  .container_logins-registers {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .container_logins-registers form {
    position: relative;
    
  }
}
